.navbar
    positon: relative
    width: 100%
    height: 50px
    background-color: #3443eb
    text-align: left
.button_home
    position : relative
    top: 30%
    left : 20px
    background-color: #3443eb
    color: white
    border: none
    cursor: pointer
    font-size: 16px
    display: inline-block