.post_item
    padding-top: 20px
    margin-top: 10px
    margin-left: 10px
    display: flex
    position: relative
    img
        padding-right: 10px
        width: 200px
        height: 150px
    .post_content
        display: grid
        width: 80%
        height: 180px
        border:0.1px outset #6f7282
        .info_post
            display: inline
        .title
            margin-left: 7px
            color: #2165d1
            font-size: 20px
        .author
            margin-left: 7px
            padding-right: 30px
            font-size: 15px
            color: #585b69
        .created_on
            padding-right: 30px
            font-size: 15px
            color: #585b69
        .updated_on
            padding-right: 30px
            font-size: 15px
            color: #585b69
        .learn_more
            position: absolute
            right: 5px
            bottom: 5px