*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: montserrat, sans-serif
.login_page
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    input, button
        appearance: none
        background: none
        border: none
        outline: none
    form
        display: block
        position: relative
        .form_inner
            position: relative
            display: block
            background-color: #FFF
            padding: 30px
            z-index: 2
            h2
                color: #888
                font-size: 28px
                font-weight: 500
                margin-bottom: 30px
            input[type="submit"]
                display: inline-block
                padding: 10px 15px
                border-radius: 8px
                background-image: linear-gradient(to bottom right, #3443eb, #097fe6)
                background-position: 0%
                transition: 0.4s
                color: #FFF
                cursor: pointer
            .form_group
                display: block
                color: #666
                width: 300px
                margin-bottom: 15px
                label
                    display: block
                    color: #666
                    font-size: 15px
                    margin-bottom: 5px
                    transition: 0.4s
                input
                    display: block
                    width: 100%
                    padding: 10px 15px
                    background-color: #f8f8f8
                    border-radius: 8px
                    transition: 0.4s
                input:focus
                    box-shadow: 0px 0px 3px rgba(0,0,0,0.2)
            .form_group:focus-within
                label
                    color: #097fe6
    form:after
        content: ''
        display: block
        position: absolute
        top: -5px
        left: -5px
        right: -5px
        bottom: -5px
        z-index: 1
        background-image: linear-gradient(to bottom right, #3443eb, #097fe6)
